.grid-container {   
    gap: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1400px) {
    .grid-container {
        grid-template-columns: repeat(3, 20%);
    }
}

@media screen and (min-width: 769px) {
    .grid-container {
        grid-template-columns: repeat(4, 22%);
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 32%);
    }
}

@media screen and (max-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(2, 45%);
    }
}

